{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="container center-content flex-column">
    <div class="container" style="margin-top: -25px;">
        <img class="img-fluid" src="../static/mockimage/logo.png" alt="logo">
    </div>
    <div class="container" style="margin-top:-25px;">
        <p><strong>Welcome to our KettleBell Workout Web App!</strong> <br>
            Experience dynamic 30-minute workouts designed to push your fitness limits. <br>

            {% if session['user_id'] %}
            Go to Workout to start your KettleBell workout!
            {% else %}
            Log in or register to start your kettleBell journey today!
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}