{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<div class="container center-content">
    <div class="card shadow mt-5" style="width: 18rem;">
        <img src="../static/mockimage/login.jpg" class="card-img-top"
            alt="image of kettle bells">
        <div class="card-body">
            <h5 class="card-title">Log In</h5>
            <form action="/login" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username"
                        placeholder="Username" type="text" required>
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
                </div>
                <button class="btn btn-primary" type="submit">Log In</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}